/* 
Name-Yashkumar Vipulkumar Shah
Student ID-103985214
Seneca Email-Id:yvshah@myseneca.ca
SECTION CODE: WEB222 NEE */


/* Google Font CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Palette+Mosaic&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.text {
    text-align: center;
}

.honesty h3 {
    color: wheat;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.honesty h3:hover {
    text-decoration: underline;
    background-color: red;
    cursor: default;
}

#Basic_info2,
th,
td {
    padding-left: 35%;
    margin-right: 3px;
    color: white;
}

#Basic_info2 h2 {
    width: 957px;
}

.Basic_info2 .text {
    text-align: center;
}

 :root {
    --primary-color: orange;
    --black-color: #0E2431;
    --white-color: #fff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    background-size: cover;
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: orange;
    padding: 13px 0;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .portLogo a {
    font-weight: bold;
    font-size: 35px;
    color: black;
}

nav .navbar .portLogo a:hover {
    background-color: wheat;
    text-decoration: underline;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 12px;
}

nav .navbar .menu a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 7px 0;
}

.navbar .menu a:hover {
    color: yellow;
    background-color: red;
}

nav .navbar .menu {
    position: absolute;
    color: var(--white-color);
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.home {
    height: 100vh;
    width: 100%;
    background-color: rgba(14, 13, 13, 0.12);
    background-position: center center;
    background-attachment: fixed;
}

.home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text-one {
    color: white;
    font-size: 25px;
}

.home .text-two {
    color: white;
    font-size: 66px;
    font-weight: bold;
}

.home .text-three {
    font-size: 40px;
    margin: 5px 0;
    color: white;
}

.home .text-four {
    font-size: 22px;
    margin: 5px 0;
    color: rgb(255, 255, 255);
}

.home .button {
    margin: 14px 0;
}

.home .button button {
    padding: 1px 2px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: normal;
    background-color: orange;
    color: darkmagenta;
    cursor: pointer;
    border: 2px solid transparent;
    margin-left: 0%;
}

.home .button button:hover {
    background-color: darkblue;
    color: yellow
}

section {
    padding-top: 40px;
}

section .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Ubuntu', sans-serif;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: wheat;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: yellow;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about .about-details .right {
    width: 100%;
}

section .topic {
    text-align: center;
    color: wheat;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: var(--black-color);
}

section .button {
    margin: 16px 0;
}



section .button button {
    margin-left: 42%;
    margin-top: 1%;
    padding: 9px 34px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background-color: orange;
    color: darkmagenta;
    border: 2px solid transparent;
    cursor: pointer;
}

section .button button:hover {
    background-color: darkblue;
    color: yellow;
}

.skills {
    background: black;
}

.skills .content {
    margin-left: 100px;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: orange;
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    color: wheat;
    font-size: 80px;
}

.skills-details .experience .exp {
    color: wheat;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: wheat;
}

.skills-details .boxes .per {
    font-size: 60px;
}

.education .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.education .boxes .box {
    margin: 20px 0;
    color: wheat;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 19px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
}

.education .boxes .box:hover {
    background-color: darkblue;
}

.education .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: purple;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    color: orange;
    margin: 0 auto 10px auto;
}

.education .boxes .box:hover .topic,
.education .boxes .box:hover p {
    color: wheat;
}

.contact {
    background: #030303;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
}

.connect .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.connect .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.connect .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.connect .row form .box {
    padding: 0.5rem;
    margin: 1rem 0;
    background: #3333;
    color: rgb(253, 251, 251);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.connect .row form .box::placeholder {
    text-transform: capitalize;
}

.connect .row form .message {
    height: 15rem;
    resize: none;
}

.connect .row .content .title {
    color: orange;
    text-transform: uppercase;
    font-size: 4rem;
}

.info a {
    text-decoration: none;
    color: orange;
}

.connect .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: orange;
    padding: 1rem 0;
    font-weight: normal;
}

.connect .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--red);
}

footer {
    background: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

footer .text span {
    font-size: 20px;
    font-weight: normal;
    color: wheat;
    background-color: black;
}

footer .text span a {
    font-weight: bold;
    color: grey;
}

footer .text span a:hover {
    text-decoration: underline;
}

@media (max-width:1190px) {
    section .content {
        width: 85%;
    }
}

@media (max-width:1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about .about-details .right {
        width: 90%;
        margin: 40px 0;
    }
    .education .boxes .box {
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width:900px) {
    .about .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width:750px) {
    nav .navbar {
        width: 90%;
    }
    nav .navbar .menu {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
    .navbar.active .menu {
        left: 0;
    }
    nav .navbar .menu a {
        font-size: 23px;
        display: block;
        color: var(--white-color);
        margin: 10px 0;
    }
    nav .navbar .media-icons {
        display: flex;
    }
    nav .menu-btn,
    .navbar .menu {
        display: block;
    }
    .home .text-two {
        font-size: 55px;
    }
    .home .text-three {
        font-size: 35px;
    }
    .skills .skills-details {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxes {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .education .boxes .box {
        margin: 20px 0;
        width: 100%;
    }
    .contact .text {
        width: 100%;
    }
}

@media (max-width:500px) {
    .home .text-two {
        font-size: 55px;
    }
    .home .text-three {
        font-size: 33px;
    }
    .skills-details .boxes .per {
        font-size: 50px;
        color: yellow;
    }
}
